.pokemon-list-items {
  width: 220px;
  margin: 10px;
  padding: 20px;

  text-align: center;

  border-radius: 20px;

  cursor: pointer;
}

.img-placeholder {
  height: 180px;
  width: 180px;

  background: #c4c4c4;
}

.pokemon-list-items:hover .pokemon-portrait {
  filter: drop-shadow(white 2px 7px 10px);
  transition: filter ease-out 200ms;
}

.pokemon-portrait {
  image-rendering: -moz-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.id-and-name {
  display: flex;
  align-items: center;

  background: beige;

  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
}
