.pokemon-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 60vw;

  padding-top: 30px;
}

.load-more-button {
  padding: 10px;
  border-radius: 10px;
  border-color: black;

  cursor: pointer;
}
